.dropdown-menu {

  visibility: hidden;
}
.nav-link {
 
  cursor: pointer; /* Change la couleur du texte si nécessaire */
}
.nav-link.active {
  margin-top: 50px;
  color: #FF9000!important;


  /* Change la couleur du texte si nécessaire */
}
.nav-link.active span{

  color: #FF9000!important;

  /* Change la couleur du texte si nécessaire */
}
.dropdown-menu.show {

  visibility: visible;
}

.header-block{
  position: fixed;
  z-index: 999999999999999999999999999999;
  width: 100%;
}

.style-header {
  background-color: #452B00;
  z-index: 999999999999999999999999999999 !important;
}

.drop-box {
  width: 100% !important;
  position: fixed;
  left: 0 !important;
  background-color: #0D0D0DCC !important;
  padding-bottom: 30px;
  margin-top: 7px;
  padding-top: 20px;
}

.home-text-8 {
  background-color: #000000;
  border: 2px solid #808080BF;
  border-radius: 7px;
  color: white;
  padding: 7px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
}
.ul-box{
  height: 100%;

  height:70px;
}
.nav-item {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;

  height: 100%;
}

.nav-item a {

  color: white !important;
}

.border-style {
  border: 1px solid white;
  border-radius: 5px;
}

.drop-style {
  background-color: #0D0D0DCC !important;
  margin-top: -4px !important;
  border-top: 1px solid #FF9000 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  position: absolute !important;

  left: -150px !important;
}

.dropdown-menu a:hover {
  background-color: transparent !important;
}