

<app-header></app-header>
<div class="icon-block">
  <img src="assets/acc1.png" alt="Play" width="50" class="icon1" />
  <img src="assets/acc1.png" alt="Play" width="50" class="icon2" />
  <img src="assets/acc1.png" alt="Play" width="50" class="icon3" />
  <img src="assets/acc1.png" alt="Play" width="50" class="icon4" />
  <img src="assets/acc1.png" alt="Play" width="50" class="icon5" />
  <img src="assets/acc1.png" alt="Play" width="50" class="icon6" />
  <img src="assets/groupicon.png" alt="Play" width="100" style="filter: invert(1%);" class="icon9" />
  <div class="container">
    <div class="row">
      <div class="col-xl-7 mt-5 home-box" >
        <h1 class="text-home">
          LE Fournisseur spécialisé des vendeurs en ligne
        </h1>
        <p class="mt-5 text-light text-2-home">
          Gagnez de l'argent en 3 clics sur Daymond, avec votre téléphone
          portable.
        </p>
        <div
          class="d-flex row down-box"
          style="max-width: 520px; margin-top: 70px"
        >
          <a href="#" class="col-md-6"
            ><img src="assets/google.png" alt="Google Play" width="250"
          /></a>
          <a href="#" class="col-md-6"
            ><img src="assets/apple.png" alt="App Store" width="250"
          /></a>
        </div>
      </div>
      <div
        class="col-xl-5"
        style="height: 500px; position: relative; padding: 0"
      >
        <img
          src="assets/acceuil.png"
          style="height: 120%; width: 100%; position: absolute"
          alt="Opportunité"
        />
      </div>
    </div>
  </div>
</div>
<div class="d-flex down-box1" style="margin-top: 70px">
  <div>
    <a href="#"><img src="assets/google.png" alt="Google Play" /></a>
  </div>
  <div>
    <a href="#"><img src="assets/apple.png" alt="App Store" /></a>
  </div>
</div>
<div style="background-color: #f5f7ff">
  <div class="container my-5 pad-block">
    <h2 class="mb-5 block-day">daymond c'est</h2>
    <div class="row g-4">
      <div class="col-sm-4">
        <div class="card h-100 text-center border-none" >
          <div class="card-body text-start">
            <div class="ic-text">
            <img
              src="assets/cal5.png"
              alt="Opportunité"
              class="mb-3"
              width="30"
            />
            <h5 class="card-title text-start font-bold">
              Une Opportunité pour tous
            </h5>
          </div>
            <p class="card-text text-start">
              Commencer un business à partir de zéro franc, partout en Afrique
              et quel que soit votre statut social.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100 text-center border-none">
          <div class="card-body text-start">
            <div class="ic-text">
            <img
              src="assets/cal6.png"
              alt="Opportunité"
              class="mb-3"
              width="30"
            />
            <h5 class="card-title font-bold">Sans investissement</h5></div>
            <p class="card-text">
              Vendez des produits sans avoir de stock et sans vous soucier de la
              livraison.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100 text-center border-none">
          <div class="card-body text-start">
            <div class="ic-text">
            <img
              src="assets/cal3.png"
              alt="Opportunité"
              class="mb-3"
              width="30"
            />
            <h5 class="card-title font-bold">Plusieurs produits disponibles</h5></div>
            <p class="card-text">
              Parcourez une large gamme de produits de différentes marques, à
              des prix spécialement réservés aux revendeurs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100 text-center border-none">
          <div class="card-body text-start"><div class="ic-text">
            <img
              src="assets/cal4.png"
              alt="Opportunité"
              class="mb-3"
              width="30"
            />
            <h5 class="card-title font-bold">Facile d'utilisation</h5></div>
            <p class="card-text">
              Gagnez de l'argent en partageant des statuts sur WhatsApp,
              Facebook, TikTok, simplement avec votre téléphone portable.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100 text-center border-none">
          <div class="card-body text-start"><div class="ic-text">
            <img
              src="assets/cal1.png"
              alt="Opportunité"
              class="mb-3"
              width="30"
            />
            <h5 class="card-title font-bold">C’est vous qui gagnez</h5>
          </div>
            <p class="card-text">
              Gagnez jusqu’à 50 % de bénéfice sur chaque vente réalisée et
              profitez de nombreux autres bonus Daymond.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100 text-center border-none">
          <div class="card-body text-start">
            <div class="ic-text">

            
            <img
              src="assets/cal2.png"
              alt="Opportunité"
              class="mb-3"
              width="30"
            />
            <h5 class="card-title font-bold">Une liberté financière</h5>
            </div>
            <p class="card-text">
              Recevez et retirez vos gains directement depuis votre portefeuille
              Daymond, par le moyen de votre choix (Wave, Orange, Moov et MTN).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container my-5 pad-block" style="background-color: white">
    <h1 class="text-center mb-2 opp-box">Une opportunité pour tout le monde</h1>
    <p class="text-center mb-4">
      Oui, tout le monde peut utiliser Daymond, quelle que soit sa
      localisation..
    </p>
    <div class="row g-4 block-opp" style="background-color: #ffa100">
      <div class="col-4 block-opp-1">
        <div class="card text-center card-8" style="height: 100%">
          <img
            src="assets/im5.png"
            alt="Opportunité"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-2 block-opp-2">
        <div class="card text-center card-8" style="height: 100%">
          <img
            src="assets/im6.png"
            alt="Opportunité"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-4 block-opp-3">
        <div class="card text-center card-8">
          <img
            src="assets/im7.png"
            alt="Opportunité"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-2 block-opp-4">
        <div class="card text-center card-8">
          <img
            src="assets/im8.png"
            alt="Opportunité"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-2 g-card-5 block-opp-5">
        <div class="card text-center card-5">
          <img
            src="assets/im1.png"
            alt="Opportunité"
            width="100%"
            height="100%"
          />
        </div>
      </div>
      <div class="col-4 g-card-6 block-opp-6">
        <div class="card text-center card-6">
          <img src="assets/im2.png" alt="Opportunité" />
        </div>
      </div>
      <div class="col-3 g-card-7 block-opp-7">
        <div class="card text-center card-7" style="position: relative">
          <img src="assets/im3.png" alt="Opportunité" />
        </div>
      </div>
      <div class="col-3 block-opp-8">
        <div class="card text-center card-7" style="position: relative">
          <img src="assets/im4.png" alt="Opportunité" />
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <img src="assets/equipe.png" alt="Opportunité" width="100%" height="100%" />
</div>

 <app-footer></app-footer> 
