.bg-brown {
    background-color: #452B00; /* Couleur marron */
  }
  
.sponsor-style{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blox{
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (min-width:1200px){
   
    .down-box1{
        display: none!important;
    }
    .down-box{
        visibility: visible!important;
    }
   .part-box{
    text-align: start;
   }
   .part-1-box{
    text-align: start;
   }
   .copy-box{
        text-align: end;
   }
   .cles{
    display: none;
}
}
@media (max-width:1200px){
    
    .down-box1{
        display: flex!important;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 60px;

        border-top: 1px solid white;
        gap: 15px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .down-box{
        visibility: hidden!important;
    }
    .down-box1 img{
   
      
        max-width: 150px!important;

    }
    .grow-box{
        position: relative;
    }
    .part-box{
        text-align: center;
       }
       .part-1-box{
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
       }

       .copy-box{
        text-align: center;
        position: absolute;
        bottom: 1px;
        left: 25%;
        right: 25%;
   }
   
}

@media (max-width:1000px){
    .blox{
        padding-top: 0;

      
    }
    .grow-box{
        margin-top: 40px;

    }
    .icon-box{
        padding-left: 100px;

    }
   .icon-1-box{
        padding-bottom: 10px;padding-top: 0!important;

   }
}
::-webkit-scrollbar {
    display: none;
}
.icon-1-box{
  padding-top: 10px;

}