  <!-- Section partenaires -->

  <div class="container my-5" >
    <h2 class=" mb-4 part-box" style="font-weight: 900;">Nos partenaires <span class="cles" style="font-weight: 900;">clés</span> </h2>
    <p class=" mb-4 part-1-box">Nous collaborons avec les meilleurs, depuis la source pour offrir des produits de qualité à des prix ultra bas.</p>
    
    
  </div>
  <div class="w-full blox" style="padding-bottom: 10px;overflow: hidden;" >
   
    <div class="row gap-2 justify-content-start align-items-center icon-1-box" style="overflow: hidden;background-color: #F5F7FF;" >

      <div class="d-flex gap-2 justify-content-center align-items-end icon-box" style="overflow-y: scroll;">
        <div class="col-4 col-md-2 sponsor-style" >
          <img src="assets/sp3.png" alt="Nike" class="img-fluid mb-3">
        </div>
        <div class="col-4 col-md-2 sponsor-style" >
          <img src="assets/sp1.png" alt="NASCO" class="img-fluid mb-3">
        </div>
        <div class="col-4 col-md-2 sponsor-style" >
          <img src="assets/sp2.png" alt="Samsung" class="img-fluid mb-3">
        </div>
        <div class="col-4 col-md-2 sponsor-style" >
          <img src="assets/sp3.png" alt="Nike" class="img-fluid mb-3">
        </div>
        <div class="col-4 col-md-2 sponsor-style" >
          <img src="assets/sp4.png" alt="Smart Technology" class="img-fluid mb-3">
        </div>
        <div class="col-4 col-md-2 sponsor-style" >
          <img src="assets/sp5.png" alt="LG" class="img-fluid mb-3">
        </div>
      </div>
      <div class="d-flex gap-2 justify-content-center align-items-start icon-box " style="padding-top: 7px;overflow-y: scroll;" >
        <div class="col-4 col-md-2 sponsor-style" >
          <img src="assets/sp9.png" alt="HP" class="img-fluid mb-3">
        </div>
        <div class="col-4 col-md-2 sponsor-style" >
            <img src="assets/sp6.png" alt="Toyota" class="img-fluid mb-3">
          </div>
          <div class="col-4 col-md-2 sponsor-style" >
            <img src="assets/sp7.png" alt="Apple" class="img-fluid mb-3">
          </div>
          <div class="col-4 col-md-2 sponsor-style" >
            <img src="assets/sp8.png" alt="Itel" class="img-fluid mb-3">
          </div>
          <div class="col-4 col-md-2 sponsor-style" >
            <img src="assets/sp9.png" alt="HP" class="img-fluid mb-3">
          </div>
          <div class="col-4 col-md-2 sponsor-style" >
            <img src="assets/sp10.png" alt="Suzuki" class="img-fluid mb-3">
          </div>
            
      </div>
    
  </div>
  <!-- Section pied de page -->
  <footer class="bg-brown text-light py-4 grow-box" >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5 style="font-weight: 900;">Apropos</h5>
          <p>Daymond, est une société de distribution et le premier fournisseur spécialisé en dropshipping en Afrique.</p>
          <p>Côte d'Ivoire, Abidjan, Cocody, Plateau Dokui</p>
          <p class=" mt-5 copy-box">&copy; 2020 daymond</p>
        </div>
        <div class="col-md-6 text-md-end">
          <h5 style="font-weight: 900;">Support</h5>
          <p>+225-0707-54-5252<br>hellodaymond.fr</p>
          <div class="down-box">
            <a href="#"><img src="assets/google.png" alt="Google Play" width="130"></a>
            <a href="#"><img src="assets/apple.png" alt="App Store" width="130"></a>
          </div>

        </div>
      </div>
    </div>
    <div class="d-flex down-box1" style="margin-top: 70px;">
      <div>
          <a href="#" ><img src="assets/google.png" alt="Google Play" ></a>
      </div>
      <div>
          <a href="#" ><img src="assets/apple.png" alt="App Store" ></a>
      </div>
      
      
  </div>
  </footer>