<app-header></app-header>

<div class="icon-block">
  <div class="container box-acceuil" >
    <div class="row cont-box">
      <div class="col-xl-7 mt-5 home-box cont-box-2">
        <h1 class="text-home">DevenEZ recruteur, indépendant DAYMOND</h1>
        <p class="mt-3 text-light text-2-home">
          Recensez des personnes 
          dans votre quartier et 
          gagnez jusqu’à
        </p>
        <h1 class="text-1-home text-dark" >2.650 F cfa</h1>
        <p class="mt-3 text-light text-2-home">
          Par personne recrutée
          avec des bonus a vie
        </p>
        <img
          src="assets/tianngle.png"
          class="tri-box"
          alt=""
          height="10"
          width="10"
        />
        <div class="icon-style">
          <img
            src="assets/rec.png"
            height="70px"
            class="text-center"
            style="margin-left: 200px"
            alt="Opportunité"
          />
        </div>

        <p class="mt-3 text-dark text-5-home" style="font-size: 1.2rem">
          Commencez maintenant installez Daymond collaboration
        </p>
        <div class="d-flex down-box" style="max-width: 520px; margin-top: 20px">
          <a href="#" class="col-md-6"
            ><img src="assets/google.png" alt="Google Play" width="250"
          /></a>
          <a href="#" class="col-md-6"
            ><img src="assets/apple.png" alt="App Store" width="250"
          /></a>
        </div>
      </div>

      
      <div
        class="col-xl-5 cont-box-1"
        style="height: 70vh; position: relative; padding: 0;"
      >
        <img src="assets/recru.png" class="image_acceuil" alt="Opportunité" />
        <div style="display: flex; flex-direction: column; position: relative">
          <img
            src="assets/acceuil-img.png"
            class="image_acceuil-1"
            alt="Opportunité"
          />
          <img
            src="assets/grigou.png"
            class="image_acceuil-2"
            alt="Opportunité"
          />
        </div>
      </div>
      <h1 class="text-9-home">DevenEZ recruteur, indépendant DAYMOND</h1>
    </div>
  </div>
</div>

<app-footer></app-footer>
